/* -----------------------
--------------------------
--------------------------

CSS TABLE OF CONTENTS

# GLOBAL STYLES
    # GLOBAL VARIBLES (Colors, fonts ,etc.)
    # GLOBAL COLORS
    # GLOBAL TYPOGRAPHY
    # GLOBAL MEDIA
    # GLOBAL HELPERS


# LAYOUT
    #MEDIA QUERIES'
    #TYPOGRPAHY

# SITE STRUCTURE
    # HEADER
        # LOGO
        # SITE NAV
        # TOGGLE MENU
        #NAV ICON + HAMBUGER
        # SITE HEADER ON TOP OF HERO
    # MAIN
        # SECTIONS
            # HERO
    # FOOTER

# UI COMPONTENTS 
    # BUTTONS
    # CARDS
# GLOBAL MEDIA (Making images responsive)

--------------------------
--------------------------
-------------------------*/

/* --------------------------
 ---------GLOBALS---------
 ---------------------------- */


/* GLOBAL VARIBLES */
:root {

    /* THESES ARE MY COLORS */

    --color-body-background: rgb(255 255 255);
    --color-text-body: rgb(0 0 0 / .8);
    --color-text-headings: rgb(0 0 0 / 1);
    --color-project-info: rgb(255 255 255);

    --color-links: rgb(130, 24, 153);
    --color-links-hover: rgba(25, 160, 52, 0.674);
    --color-text-button-hover: rgba(25, 160, 52, 0.674);
    --color-links-dark: rgb(102 102 102);
    --color-links-darker: rgb(0 0 0);
    --color-links-light: rgb(90, 169, 198);
    --color-links-lighter: rgb(255 255 255);

    --color-siteheader-background: rgb(255 255 255);
    --color-siteheader-links: var(--color-text-headings);

    --color-hero-background: rgb(255 255 255);
    --color-hero-text: rgba(0, 0, 0, 0.8);
    --color-hero-headings: rgb(0, 0, 0);

    --color-sitefooter-background: rgb(100 100 100);
    --color-sitefooter-text: rgb(255 255 255 / .8);
    --color-sitefooter-headings: rgb(255 255 255 / 1);
    --color-sitefooter-links: rgb(255 255 255);

    --color-togglemenu-text: rgb(255, 210, 158);
    --color-togglemenu-background: rgb(82, 194, 194);

    /* DEFINE ALL FONTS */
    --font-body: neulis-sans, sans-serif;
    --font-headings: ivyora-display, serif;

    /* SIZING UNITS */
    --container-width: 1100px;
    --unit-xs: .15em;
    --unit-small: 1em;
    --unit-medium: 2em;
    --unit-large: 4em;
    --gridgap: 2em;


}

/* GLOBAL RESET */

/* CHANING BOX-SIZING FOR ALL TO BORDER-BOX */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* REMOVE THE DEAULT 8px MARGIN ON BODY*/
body {
    margin: 0
}


/* GLOBAL COLORS */

/* SET THE COLOR OF THE MAIN BODY TEXT */
body {
    color: var(--color-text-body);
    /* SET THE COLOR OF THE BACKGROUND */
    background-color: var(--color-body-background);
}

/* SET THE COLOR OF HEADINGS */
h1,
h2,
h3 {
    color: var(--color-text-headings);
}

a {
    /* SET THE COLOR OF ALL TEXT LINKS */
    /* color: var(--color-links); */

    /* THIS IS A NEST HOVER STATE */
    &:hover {

        color: var(--color-links-hover);
    }
}

/* GLOBAL TYPOGRAPHY */

/* FONT FAMILY */
/* BODY FONT */
body {
    font-family: var(--font-body);
    line-height: 1.4;
}

/* FONT WEIGHTS */

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 500;
}

h3 {
    font-weight: 400;
}

p {
    font-weight: 400;
    font-style: normal;
}

/* HEADING FONT  */
h1,
h2,
h3 {
    font-family: var(--font-headings);
}

/* TYPOGRAPHIC SCALE */

.hero h1 {
    text-align: left;
    font-size: 4em;
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 3.5em;
        padding: .1em;
    }

    .hero a {
        padding-left: .5em;
    }
}


h1 {

    /* SET H1 FONT SIZE */
    font-size: 6em;

    /* SET H1 LEADING */
    line-height: 1;
    padding-bottom: var(--unit-xs);
}

h2 {

    /* SET H1 FONT SIZE */
    font-size: 2em;

    /* SET H1 LEADING */
    line-height: 1.2;
}

h3 {

    /* SET H1 FONT SIZE */
    font-size: 1.5em;

    /* SET H1 LEADING */
    line-height: 1.3;
}

p {
    /* max-width: 65ch; */
    text-wrap: pretty;
}

/* GLOBAL MEDIA */

img {
    /* MAKE ALL IMAGES SHRINK ON SMALL SCREENS */
    max-width: 100%;
    height: auto;
}

/* GLOBAL HELPERS */

/* HIDE ELEMENTS VISUALLY BUT NOT READERS AND SEARCH ENGINES */
.hide-visually {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.bottomleft {
    position: fixed;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
    padding: 16px;
}

.topleft {
    position: fixed;
    top: 8px;
    left: 16px;
    font-size: 18px;
    padding: 16px;
}

.topright {
    position: fixed;
    top: 8px;
    right: 16px;
    font-size: 18px;
    padding: 16px;
}

.topright2 {
    position: fixed;
    top: 8px;
    right: 120px;
    font-size: 18px;
    padding: 16px;
}

.bottomright {
    position: fixed;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
    padding: 16px;
}

.bottomright2 {
    position: fixed;
    bottom: 8px;
    right: 120px;
    font-size: 18px;
    padding: 16px;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}


.topright-desktop {
    position: fixed;
    top: 8px;
    right: 8px;
    font-size: .875em;
    /* border: 1px solid red; */
    color: #ba0c0c;
}

.bottomright-desktop {
    position: fixed;
    bottom: 8px;
    right: 8px;
    font-size: .875em;
}

@media (min-width: 768px) {
    .topright-desktop {
        top: 8px;
        right: 16px;
        font-size: 1.125em;

    }

    .bottomright-desktop {
        bottom: 8px;
        right: 16px;
        font-size: 1.125em
    }
}

@media (max-width: 768px) {
    .bottomright-desktop svg {
        width: 80%;
        /* border: 1px solid red; */

    }

}



.topright-desktop.animate-rotation {
    /* writing-mode: vertical-lr; */
    animation: rotato .8s forwards;
    transform-origin: right top;
}

@keyframes rotato {
    0% {
        rotate: 0deg;
        translate: 0 0%;
    }

    50% {
        rotate: 90deg;
        translate: 0 50%;
    }

    100% {
        rotate: 90deg;
        translate: 0 300%;
    }
}

.bottomright-desktop.animate-rotation {
    /* writing-mode: vertical-lr; */
    animation: rotato-botto .8s forwards;
    transform-origin: right top;

}

@keyframes rotato-botto {
    0% {
        rotate: 0deg;
        translate: 0 0%;
    }

    50% {
        rotate: 0deg;
        translate: 0 100%;
    }

    51% {
        rotate: 90deg;
        translate: 0 300%;
    }

    100% {
        rotate: 90deg;
        translate: 0 100%;
    }
}

/* New animation ONLY for the .bottomright-desktop list items */
.bottomright-desktop li {
    transition: transform 0.8s;
    transform-origin: center;
}

.bottomright-desktop.animate-rotation li {
    animation: rotate-item 0.8s forwards;
    animation-delay: calc(var(--item-index, 0) * 0.1s);
    /* Staggered animation */
}

@keyframes rotate-item {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(0deg);
    }

    51% {
        transform: rotate(-90deg);
    }

    100% {
        transform: rotate(-90deg);
    }
}

/* --------------------------
---------LAYOUT--------------
-------------------------- */


/* RESPONSIVE TYPOGRAPHY  */



/* SMALL SCREENS (MOBILE < 768PX) */

body {
    /* 14 PX */
    font-size: 87.5%;
}

/* MEDIUM SCREENS (TABLETS < 1200PX) */
@media (min-width:768px) {
    body {
        /* 16 PX */
        font-size: 100%;
    }
}

/* LARGE SCREENS (LAPTOP/DESKTOPS > 1200PX) */
@media (min-width:1200px) {
    body {
        /* 16 PX */
        font-size: 112.5%;
    }
}

/* CONTAINER */
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1em;

}

/* GRID */
/* LARGE SCREENS ONLY */
@media (min-width: 768px) {
    .row {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 2em;


    }

    .one-half {
        grid-column: auto / span 6;
    }

    .one-third {
        grid-column: auto / span 4;
    }

    .two-thirds {
        grid-column: auto / span 8;
    }

    .one-fourth {
        grid-column: auto / span 3;
    }

    .three-fourths {
        grid-column: auto / span 9;
    }


}

.row>* {
    margin-bottom: var(--gridgap);
    margin-top: var(--gridgap);
}


/* for demo */
.demo>* {
    background-color: pink;
    padding: 1em;
    text-align: center;
}


/* CENTERED COLUMNS */
.one-half.centered {
    grid-column: 4/ span 6;
}

.one-third.centered {
    grid-column: 5/ span 4;
}

.two-thirds.centered {
    grid-column: 3 / span 8;
}


/* 12 COLUMN CLASSES */
.col-1 {
    grid-column: auto / span 1;
}

.col-2 {
    grid-column: auto / span 2;
}

.col-3 {
    grid-column: auto / span 3;
}

.col-4 {
    grid-column: auto / span 4;
}

.col-5 {
    grid-column: auto / span 5;
}

.col-6 {
    grid-column: auto / span 6;
}

.col-7 {
    grid-column: auto / span 7;
}

.col-8 {
    grid-column: auto / span 8;
}

.col-9 {
    grid-column: auto / span 9;
}

.col-10 {
    grid-column: auto / span 10;
}

.col-11 {
    grid-column: auto / span 11;
}

.col-12 {
    grid-column: auto / span 12;
}


/* PUSHES */
.push-1 {
    grid-column-start: 2;
}

.push-2 {
    grid-column-start: 3;
}

.push-3 {
    grid-column-start: 4;
}

.push-4 {
    grid-column-start: 5;
}

.push-5 {
    grid-column-start: 6;
}

.push-6 {
    grid-column-start: 7;
}

.push-7 {
    grid-column-start: 8;
}

.push-8 {
    grid-column-start: 9;
}

.push-9 {
    grid-column-start: 10;
}

.push-10 {
    grid-column-start: 11;
}

.push-11 {
    grid-column-start: 12;
}

/* SWAPPED (Reverse) WORKS ONLY WITH TWO CHILDREN */
.row.swapped>*:first-child {
    order: 2;
}

.row.swapped>*:last-child {
    order: 1;
}

.mix {
    mix-blend-mode: difference;
    z-index: 4;
}


/* --------------------------
--------SITE STRUCTURE-------
-------------------------- */


/* SITE HEADER */
.site-header {
    background-color: var(--color-siteheader-background);
    z-index: 2;


    /* PUT ALL HEADER CHILDREN SIDE-BY-SIDE AND VERT CENTERED ON LARGE SCREENS */
    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* ADD SOME GENERAL SPACING AROUND THE HEADER */
    /* padding: var(--unit-small); */
    padding: 0;

    /* REMOVE LINK UNDERLINES IN HEADER */
    a {
        text-decoration: none;
        color: rgb(255, 255, 255);

    }

    /* SITE LOGO */
    .site-logo {

        /* PUT SITE LOGO CHILDREN SIDE-BY-SIDE AND CENTER */
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;

        /* REMOVE MARGINS AND RESIZE H1 INSIDE HEADER */
        h1 {
            font-size: 2em;
            margin: 0;
            text-wrap: nowrap;
        }

        /* REMOVE THE SPACE UNDER THE LOGO MARK */
        img,
        svg {
            display: block;

        }


    }


    /* SITE-NAV */
    .site-header-nav {


        ul {
            /* REMOVE MARGINS & BULLETS FROM LIST */
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

        }

        /* MAKE SITE NAV LINKS BIG LIKE BUTTONS */
        a {
            display: block;
            padding: 1em;
        }

    }

}


/* TOGGLE MENU */

/* HIDE MENU BUTTON IF NOT USING TOGGLE NAV */

.site-menu-button {

    display: none;
}


@media (max-width:768px) {

    .toggle-menu {


        /* SET TOGGLE MENU COLORS */
        color: var(--color-togglemenu-text);


        display: flex;
        flex-direction: row-reverse;
        align-items: center;

        /* SHOW MENU BUTTON IF USING TOGGLE NAV */
        .site-menu-button {
            display: block;
            background-color: transparent;
            border: 1px solid var(--color-siteheader-links);
            color: var(--color-siteheader-links);
            padding: .5em;
            position: relative;
            z-index: 100;
            transition: .4s all ease-out;

            /* RESET BUTTON FONT SIZE TO SAME AS SITE HEADER NAV */
            font-size: inherit;

            &:hover {
                cursor: pointer;
            }

            &:has(svg) {

                /* VERTICALLY ALIGN AND ADD GAP */
                display: flex;
                align-items: center;
                gap: calc(var(--unit-small) / 2);

                /* REMOVE BORDER */
                border: none;

                /* SET SVG COLOR */
                svg {
                    fill: var(--color-siteheader-links);
                }

                /* ADD SUPPORT FOR SVG ANIMATION */
                svg>* {
                    transition: .2s all ease-out;
                    transform-origin: center;
                }

            }

        }

        .site-menu {
            position: fixed;
            top: 0;
            right: 0;
            z-index: 50;
            background-color: pink;
            width: 100%;
            min-height: 100svh;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 3vw;
            transition: .4s all ease-out;

            a {
                padding: 2vh 2vw;
                color: var(--color-togglemenu-text);
            }
        }

        &[data-menustate="open"] {

            /* CHANGE COLORS TO TOGGLE MENU COLORS WHEN OPEN */
            --color-siteheader-links: var(--color-togglemenu-text);

            /* LOGO STAYS WHEN MENU IS OPEN< GET RID OF ME IF YOU DON'T WANT IT */
            .site-menu-button {
                position: fixed;
                z-index: 100;
            }

            /* SHOW THE SITE MENU WHEN OPEN */
            .site-menu {
                transform: translateX(0);
            }

            /* ANIMATE THE NAVICON + HAMBURGER ICON */
            .site-menu-button svg {

                .simple-navicon-top {
                    transform: translate(-21%, 25%) rotate(45deg);
                }

                .simple-navicon-middle {
                    opacity: 0;
                }

                .simple-navicon-bottom {
                    /* OLD SCHOOL VERSION */
                    transform: translate(-21%, -25%) rotate(-45deg);
                }
            }

        }

        &[data-menustate="closed"] {

            /* MOVE THE SIDE MENU TO THE RIGHT WHEN CLOSED */
            .site-menu {
                transform: translateX(100%);
            }
        }
    }
}


/* IF TOGGLE MENU DISPLAY LOGO ON LEFT AND MENU ON RIGHT ON ALL SCREENS */
.site-header:has(.toggle-menu) {
    display: flex;
    justify-content: space-between;

    .site-logo {
        position: relative;
        z-index: 100;
    }

}



/* PLACE SITE HEADER ON TOP OF HERO ON LARGE SCREENS */
.site-header.on-top-of-hero {

    @media (min-width: 768px) {

        /* RENDER HEADER ON TOP OF HERO */
        position: absolute;
        width: 100%;

        /* SET SITE HEADER LINK COLOR ON LARGE SCREENS */
        a {
            /* color: var(--color-siteheader-links); */
        }

        /* ADD MORE SPACE ON TOP FOR THE ABSOLUTE HEADER */
        &+.site-main>.hero {
            padding-top: calc(4em + var(--unit-large));
        }

    }

}















/* SITE MAIN */


/* SECTIONS */

section {
    padding: var(--unit-large) var(--unit-small);
}

/* HERO SECTION */
.hero {
    background-color: var(--color-hero-background);
    color: var(--color-hero-text);
    height: 100svh;
    position: relative;
    z-index: 1;
    text-align: center;
    display: grid;
    place-items: center;
    /* ADDING MORE SPACEON ON ABSOLUTE HEADER */
    /* padding-top: calc(4em + var(--unit-large)); */

    h1,
    h2,
    h3 {
        color: var(--color-hero-headings);
    }
}


@media (max-width: 715px) {
    .hero {
        text-align: left;
    }
}


/* SITE FOOTER */
.site-footer {
    background-color: var(--color-sitefooter-background);
    color: var(--color-sitefooter-text);
    padding: var(--unit-small);

    h1,
    h2,
    h3 {
        color: var(--color-sitefooter-headings)
    }

    a {
        color: var(--color-sitefooter-links)
    }

    .site-nav {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;

        }
    }
}



/* --------------------------
------ UI COMPONENTS ---------
---------------------------- */


/* BUTTONS */
.button {
    /* BUTTON COLORS */
    /* border: 1px solid var(--color-hero-text); */
    color: var(--color-hero-text);
    /* background-color: var(--color-links-light); */

    /* ENABLE BOX MODEL STYLING */
    display: inline-block;
    border-radius: 5rem;
    padding-top: var(--unit-small);
    padding-left: var(--unit-xs);
    /* margin: var(--unit-small) 0; */
    text-decoration: none;

    +.button {
        margin-left: var(--unit-small);
    }

    &:hover {
        color: var(--color-text-button-hover);
        /* background-color: var(--color-links-hover); */
        border-color: var(--color-links-hover);
    }

    &.dark {
        border-color: var(--color-links-dark);
        background-color: var(--color-links-dark);
        color: var(--color-links-lighter);

    }

    &.dark:hover {
        color: var(--color-text-body);
        background-color: var(--color-links-hover);
        border-color: var(--color-links-hover);
    }
}

.project-info h1,
.project-info h2,
.project-info h3 {
    color: white;
}

.project-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* border: 3px solid yellow; */
    text-align: left;
    padding: 2em;

}

.project-info .title {
    /*    
    border: 1px solid red; */
    grid-column: span 2;

}

.title {
    font-size: 4ch;

}

@media (max-width: 768px) {
    .title {
        font-size: 3em;
    }
}


.project-info .project-type {
    align-self: end;

}

.project-info .apps {

    align-self: end;
    justify-self: end;
    text-align: right;
}











/* --------------------------
------ ANIMATION ---------
---------------------------- */


/* ADD SUPPORT FOR SMOOOOOOOTH SCROLLIN */

html {
    scroll-behavior: smooth;
}


/* ----------------------------
--------BACKGROUND COLOR WITH NO SWIPER---------
------------------------------ */

body {
    display: flex;
    flex-direction: column;
    height: 100svh;
}

#works,
#about {
    background-color: white;
}

header {
    width: 100%;
    background: white;
    /* flex-shrink: 0; */
    position: realtive;
}

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background: teal;
    flex-shrink: 0;
    /* Keeps them at their defined size */
    height: 30svh;
    /* Adjust as needed */
}

.section {
    padding-top: 6em;
    padding-bottom: 6em;
}

.about {
    height: 100svh;
    background-color: white;
}

/* Change from swiper-container to scroll-container */
.scroll-container {
    width: 90%;
    overflow-y: scroll;
    /* Ensure scrolling works */
    padding: 100px 100px 10px 100px;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    display: block;
    text-align: center;
    /* Centers inline-block elements */
    margin: auto;

}

@media (max-width: 768px) {
    .scroll-container {
        padding: 0;
        margin: 0;
        width: 100%;

    }
}

/* Change from swiper-slide to scroll-section */
.scroll-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    text-align: center;
    /* height: 80vh; */
    margin: 10rem 0;
    z-index: 0;
    border-radius: 2px;
    box-shadow: 5px 5px 10px rgba(33, 15, 52, 0.327);





}


@media (max-width: 460px) {
    title {
        font-size: 3em;
    }

}





.scroll-section[data-visible="visible"] {
    animation: scroll-animatein .8s cubic-bezier(.14, .84, .18, 1.12) forwards;
    /* border: 5px solid red; */
}


@keyframes scroll-animatein {
    0% {
        opacity: 0;
        scale: .8;
    }

    100% {
        opacity: 1;
        scale: 1;
    }
}

/* This is card color/background image*/
.img1 {
    background-color: pink;

}

.image-wrapper {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;

}

/* Make the image cover the entire area */
.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.img2 {
    background-color: teal;
    background-size: cover;
}

.img3 {
    background-color: yellow;
}

.background-image {
    /* background-color: purple; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 1.2s linear;
    background-size: cover;
    scale: 1.1;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(20px);
    -webkit-filter: blur(20px);
}

/* Background colors */

.tint {
    background-color: rgba(21, 5, 65, 0.223);
    background-blend-mode: multiply;
}


.background-image[data-currentslide='0'] {
    background-color: pink;
}

.background-image[data-currentslide='1'] {
    background-color: orange;
}

.background-image[data-currentslide='2'] {
    background-color: orange;
}

.background-image[data-currentslide='3'] {
    background-color: blue;
}

/* --------------------------- */
/* --------------------------- */
/* ------SUB SECTIONS--------- */
/* --------------------------- */
/* --------------------------- */

.subhero {
    /* border: 1px solid blue; */

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-color: #000000;

    }
}



/* SUBSECTION GRID LAYOUT */

.subcontainer {
    display: grid;
    grid-template-rows: auto;
    gap: 10px;
}

/* Styling for the 2x2 images */
.subcontainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #ddd;
}

/* Make full-width images span two columns */
.full-width {
    grid-column: span 2;
    width: 100vw;
    height: 100vh;
    object-fit: cover;

}

/* Responsive Layout for Mobile */
@media (max-width: 768px) {
    .subcontainer {
        grid-template-columns: 1fr;
        /* Stack everything */
        grid-auto-rows: auto;
        /* Adjust row heights */
    }

    .subcontainer img {
        height: auto;
        /* Let images scale naturally */
    }
}

/* SPLASH SCREEN UI */
.splash-screen {
    position: fixed;
    z-index: 3;
    background-color: rgb(0 0 0 / 1);
    color: white;
    width: 100%;
    height: 100svh;
    display: grid;
    place-items: center;
    animation-name: splash-chuck;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(1, -0.01, .72, 1.01);
    animation-fill-mode: forwards;
    animation-delay: 1.1s;



}


/* SPLASH SCREEN ANIMATION */
@keyframes splash-chuck {
    100% {
        translate: 100% 0;
    }
}