/* #BASE CSS (Initital Setup)
---------------------------------
    #BASE CONTENT
        #TYPOGRAPHY
            #BODY
            #HEADINGS
            #PARAGRAPHS
            #LINKS
            #HELPERS
        #MEDIA
            #IMAGES
        #COMPONENTS
            #BUTTONS
    #BASE LAYOUT
        #SIMPLE RESET
        #MEDIAQUERIES
        #CONTAINER
        #GRID SYSTEM
            #CLEARFIX
    #BASE SITE
        #SITE STRUCTURE
            #HEADER
                # site-id (LOGO)
            #FOOTER
            #SECTIONS
            #SUB PAGES
        #SITE NAVIGATION
            #TOGGLE-NAV (Default for Small Screens)
--------------------------------- */

/*  TYPOGRAPHY - Base body */

body {
    font-size: 87.5%; /* 14px */
    font-family: Helvetica, arial, sans-serif;
    line-height: 1.45;
    color: rgba(0, 0, 0, .8)
}

/* HEADINGS */
 /* 
        Based on a Traditional Typographic Scale
        48, 36, 24 ,21, 18, 16
 */

 h1 {
   font-size: 3em; /* 48px */
   line-height: 1; 

 }

 h2 {
    font-size: 2.25em; /* 36px */
    line-height: 1.1; 
 
  }

  h3 {
    font-size: 1.5em; /* 24px */
    line-height: 1.2; 
 
  }

  h4 {
    font-size: 1.3125em; /* 21px */
    line-height: 1.3; 
 
  }

  h5 {
    font-size: 1.125em; /* 18px */
    line-height: 1.4; 
 
  }

  h6 {
    font-size: 1em; /* 16px */
    line-height: 1.5; 
 
  }


  /* PARAGRAPH */ 

  P {
    margin: 0;
    max-width: 38em;
  }

  /* LINKS */

  a {
    color: rgba(34, 136, 0, 0.8);
    text-decoration: none;

  }

  a:hover {
    color: rgba(51, 202, 1, 0.8);
    text-decoration: underline;
  }


  /* HELPER CLASSES (centering) */

  .text-centered {
    text-align: center;
  }

  .full-width {
    max-width: none;
    width: 100%;
  }

  .horiz-center {
    margin-left: auto;
    margin-right: auto;
  }

  /* IMAGES */

  img {
    max-width: 100%;
    height: auto;
  }

  /* BUTTONS */

  .button, button {
    background-color: rgba(78, 171, 47, 0.8);
    border: 1px solid rgba(51, 202, 1, 0.8);
    color: rgb(243, 243, 243);
    padding: 10px;
    display: inline-block;
    margin: .5em;
    text-align: center;
    text-decoration: none;
    border-radius: .5em;
    line-height: 1;
    }

  .button:hover, button:hover{
    background-color: rgba(91, 237, 42, 0.8);
   border-color:rgba(91, 237, 42, 0.8);
    color: white;
    text-decoration: none;
   
  }

  .button.alt{
    border: 1px solid rgba(51, 202, 1, 0.8);
    background-color: transparent;
    color: rgba(51, 202, 1, 0.8);
  }

  .button.alt:hover {
    border: 1px solid rgba(78, 171, 47, 0.8);
    background-color:rgba(78, 171, 47, 0.8);
    color: rgba(255, 255, 255, 0.8);
  }

  /* LAYOUT RESET */

  * {
    box-sizing: border-box;
  }

  /* CONTAINER */

  .container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: pink;
  }

  @media (min-width: 768px) {
    .container {
      background-color: rgb(209, 42, 70);
    }
  }

  @media (min-width: 1050px) {
    .container {
      background-color: rgb(179, 42, 137);
    }
  }

  @media (min-width: 1250px) {
    .container {
      background-color: rgb(203, 109, 175);
    }
  }

  /* For DEMO purpose only */
body.demo {
  padding-top: 2em;
}

  body.demo:before {
    content: "Small screen LESS than 786px!";
    background-color: #933;
    width: 100%;
    position: fixed;
    top: 0;
    text-align: center;
    color: white;
    padding: .5em;
  }

  @media (min-width: 768px) {
    body.demo::before {
      background-color: #bcb83d;
      content: "Mid Sized (Tablet) 786-1050!";
    }
  }

  @media (min-width: 1050px) {
    body.demo::before {
      background-color: #693;
      content: "Large (Notebook) 1050-1250!";
    }
    }
  
     @media (min-width: 1050px) {
    body.demo::before {
      background-color: #693;
      content: "Large (Notebook)  1050-1250!";
    }
    }
    @media (min-width: 1250px) {
      body.demo::before {
        background-color: #89c;
        content: "Extra Large (Desktop) 1250+!";
      }
      }
